# Default config for git, with useful aliases.
# by Aurélien Noce <aurelien.noce@imagine-app.fr>

[alias]
  # Shortcuts
  co = checkout
  ci = commit
  aa = add --all
  st = status
  br = branch
  # Rebase helped, it's given a number of commits, for ex.: `git ri 2`
  ri = "!f() { git rebase -i HEAD~"$1"; }; f"
  # Cool logs, with colors
  lg = log --oneline --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
  gr = log --graph --oneline --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
[user]
	name = %NAME%
	email = %EMAIL%
[color]
  ui = auto
[github]
	name = %GITHUB_USERNAME%
[push]
	default = matching



